header{
    letter-spacing: 50px;
    text-decoration: overline underline;
    background-color: rgb(243, 169, 21);
    text-align: center;
    border: 8px dotted red;
}
.card{
    position: relative;
    height: 300px;
    float: left;
    margin: 5%;
    width: 15%;
}
#card1{
    background-color: pink;
    
}
#card2{
    background-color: gray;
    

}
#card3{
    background-color: green;
    
}
#card4{
    background-color: red;
    
}
#main{
    margin-top: 40px;
    background-color: yellow;
    display: inline-block;
    border: 8px double blue;
}
img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
h3{
    
    text-align: center;
    background-color: white;
}
p{  
    /* margin-left: 10px; */
    width: 100%;    
    height: 29%;
    text-align: justify;
    /* background-color: red; */
    overflow:auto;   
}
hr{
    margin-top: 30px;
    border: 20px outset aqua;
}